body {
    background-color: #90C8AC;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%
}

h1 {
    color: #00263B;
}

h3 {
    color: #00263B;
}